# Raw / working genomic data must never be committed
data/raw/
data/work/
*.vcf
*.vcf.gz
*.bcf
*.pgen
*.pvar
*.psam
*.bed
*.bim
*.fam
*.bam
*.cram
*.fastq*
# plink2 binary / build tree
plink-ng/
plink2
# python
__pycache__/
*.pyc
.pytest_cache/
.venv/
*.egg-info/
